<h1>Explicação *ngIf </h1>
<p><b>Comando condicional if</b>, serve para realizar 
    desvios condicionais na estrutura do programa</p>

<h3><u>Exemplo de *ngIf</u></h3>


<P *ngIf="p1">Parágrafo 1 que é exibido quando for clicado no botão abaixo</P>
<P *ngIf="p2">Parágrafo 2 </P>
<P *ngIf="p3">Parágrafo 3 vai ser exbido se clicar no botão 3 </P>

<button (click)="btn_Click1()"class="btn-warning">Parágrafo 1</button>
<button (click)="btn_Click2()"class="btn-warning">Parágrafo 2</button>
<button (click)="btn_Click3()"class="btn-warning">Parágrafo 3</button>

